@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@400;500;700&display=swap');

:root {
  --background-color: #F7EBE8;
  --btn-menu-bg: #FFA987;
  --btn-li-bg: #344966;
  --text: #F0F4EF;
  --menu-text: #444140;
  --details: #D62246;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bad Script', cursive;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
  font-size: 1.5rem;
  color: var(--text);
}

button {
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  position: relative;
  top: 0;
  left: 0; 
  list-style: none;
}

li {
  position: absolute;
  display: flex;
  align-items:center;
  justify-content:center;
  background-color: var(--btn-li-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
} 

input {
  position: absolute;
  display: none;
}

.btn {
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: var(--btn-menu-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;

  font-size: 30px;
  color: var(--text);
  
  transition: all .4s cubic-bezier(.25 .8 .25 1);
}

.btn-menu, .btn-close {
  position: absolute;
  transition: all .4s ease;
}

.btn-close {
  transform: translateY(50px);
  opacity: 0;
}

button.btn[aria-expanded="true"] .btn-menu {
  transform: translatey(-50px);
  opacity: 0;
}

button.btn[aria-expanded="true"] .btn-close {
  transform: translatey(0);
  opacity: 1;
}

li.btn {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  transition: all .8s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  background-color: var(--btn-li-bg);
}

.li:first-child() {
  top: 0;
  transition-delay: 0s;
}

li:nth-child(1) {
  top: 0;
  left: 0;
  transition-delay: 0.1s;
}

li:nth-child(2) {
  top: 0;
  transition-delay: 0.2s;
}

li:nth-child(3) {
  top: 0;
  left: 0;
  transition-delay: 0.3s;
}

li:nth-child(4) {
  top: 0;
  transition-delay: 0.4s;
}

li:nth-child(5) {
  top: 0;
  left: 0;
  transition-delay: 0.5s;
}

li:nth-child(6) {
  left: 0;
  transition-delay: 0.6s;
}

li:nth-child(7) {
  top: 0;
  left: 0;
  transition-delay: 0.7s;
}

.primary-navigation[data-state="opened"] li:first-child() {
  top: -150px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(1) {
  top: -150px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(2) {
  top: -100px;
  left: 100px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(3) {
  left: 150px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(4) {
  top: 100px;
  left: 100px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(5) {
  top: 150px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(6) {
  top: 100px;
  left: -100px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(7) {
  left: -150px;
  opacity: 1;
}

.primary-navigation[data-state="opened"] li:nth-child(8) {
  top: -100px;
  left: -100px;
  opacity: 1;
}