@import url('https://fonts.googleapis.com/css?family=Poopins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161623;
    min-height: 100%;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    background: linear-gradient(#ffc107, #e91e63);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transform: translate(-250px, -120px);
}

section::after {
    content: '';
    position: absolute;
    background: linear-gradient(#2196f3, #31ff37);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transform: translate(250px, 150px);
}

.box {
    position: relative;
    min-width: 360px;
    min-height: 400px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    z-index: 10;
    backdrop-filter: blur(24px);
}

.box h3 {
    color: #fefefe;
    margin-bottom: 20px;
}

.box .card-container {
    position: relative;
    display: flex;
    padding: 12px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 12px 0;
    cursor: pointer;

    transition: 0.5s;
    overflow: hidden;
}

.box .card-container:hover {
    background: #fefefe;
    box-shadow: -16px -32px -56px rgba(0, 0, 0, 0.5);
    transform: scale(1.16) translateX(32px) translateY(-16px);
    z-index: 100;
}

.box .card-container .img-container {
    position: relative;
    margin-right: 12px;
    width: 64px;
    height: 64px;
    border-radius: 12px;
    overflow: hidden;
}

.box .card-container .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .card-container .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fefefe;
}

.box .card-container .card-info .rank {
    position: absolute;
    right: -32px;
    color: #03a9f9;
    transition: 0.5s;
    font-size: 2em;
}

.box .card-container .card-info .rank small {
    font-weight: 500;
    opacity: 0.25;
}

.box .card-container:hover .card-info .rank {
    right: 24px;
}

.box .card-container .card-info h4 {
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5s;
}

.box .card-container .card-info p {
    font-size: 0.75em;
    transition: 0.5s;
}

.box .card-container:hover .card-info h4,
.box .card-container:hover .card-info p {
    color: #1B1B1F;
}